@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');* 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
    animation-delay: 0.3s;
    font-family: "Montserrat", sans-serif;
}

:root { 
    --nav-h: 64px; 
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: var(--nav-h);
}

header ul {
    font-size: 10px;
    display: flex;
    height: 50px;
    gap: 50px;
    list-style: none;
    background: rgb(219, 157, 157, 0);
    justify-content: space-evenly;
    align-items: center;
}

header li {
    color: black;
    display: inline-block;
}

.button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;    
    color: inherit;    
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.button:hover {
    color: rgb(240, 176, 39);
}

section {
    min-height: calc(100svh - var(--nav-h));   
    min-height: 100svh;     
    padding-top: var(--nav-h);
}

#about {
    background: linear-gradient(to right, #FAD0C4, #FFD1FF);
    display: flex;
    gap: 9rem;
}

.profile-picture {
    display: flex;
    width: 375px;
    height: 500px;
    margin-left: 4rem;
    margin-top: 1.5rem;
    background: url("pictures/pineapple.jpg");
    border-radius: 1%;
    border: 5px solid #fae0e0;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    background: center;
}

.about-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 350px;
    margin-top: 3rem;
}

.about-box h2 {
    margin: 0 0 1.5rem 0;
}

#computing { 
    background: linear-gradient(to right, #045489, #a3bff2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100vh;
    max-height: 100vh;
    padding: 4rem;
}

#computing > .mt-box { grid-area: 1 / 1; }
#computing > .charlie-box { grid-area: 1 / 3; }
#computing > .github-box { grid-area: 2 / 2; }
#computing > .computing-text-1 { grid-area: 2 / 3; }
#computing > .diamonds-box { grid-area: 3 / 3; }
#computing > .computing-text-2 { grid-area: 2 / 1; }
#computing > .computing-text-3 { grid-area: 1 / 2; }
#computing > .computing-text-4 { grid-area: 3 / 1; }


.diamonds-box {
    display: flex;
    align-content: center;
    justify-content: center;
}

.diamonds-box img {
    width: 100%;
    height: 90%;
    margin-top: 15px;
    margin-left: 20px;
}

.charlie-box {
    display: flex;
    justify-content: center;
}

.charlie-box img {
    width: 70%;
    height: 70%;
    margin-left: 4rem;
    margin-top: 2rem;
}

.mt-box {
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
}

.mt-box img {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
}

.github-box {
    display: flex;
    width: 215px;
    height: 132.75px;
    justify-self: center;
    align-self: center;

}

.github-box img {
    width: 70%;
    height: 90%;
    margin-top: -1rem;
    margin-left: 45px;
}

.computing-text-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin-left: 2rem;
}

.computing-text-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.computing-text-3 {
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-top: 2rem;
    margin-left: -10px;

}

.computing-text-4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 90%;
}

.computing-text-5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    width: 90%;
    margin-left: 10px;
}

#performance {
    display: flex;
    background: linear-gradient(to right, #f26037, #f07474);
    flex-direction: column;
    height: 100vh;
    padding-top: 0;
    color: #ce2d00;
}

.top-box,
.bottom-box {
    flex: 1;
    display: flex;
    padding: 30px;
}

.top-text h2, .bottom-text h2 {
    color: black;
}

.top-box {
    margin-top: 34px;
    display: grid;
    grid-template-columns: auto 17rem;
    align-items: center;
    gap: 2rem;
}

.top-pics {
    grid-column: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-text {
    grid-column: 2;
    text-align: right;
}

.top-pics img {
    max-height: 250px;
    width: auto;
    border-radius: 1%;
    border: 5px solid #de590c;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

#video-logo {
    max-height: 100px;
    width: auto;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.bottom-box {
    background: linear-gradient(to right, #f07474, #f26037);
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 17rem auto;
    gap: 2rem;
}

.bottom-pics {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-pics img {
    max-width: 200px;
    max-height: 250px;
    width: auto;
    border-radius: 1%;
    border: 5px solid #de590c;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

.bottom-text {
    grid-column: 1;
    text-align: left;
}

#sport {
    background: radial-gradient(circle, #00874896, #007b89);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.parts {
    margin-top: -100px;
    display: flex;
    gap: 100px;
}

.parts article {
    width: 300px;
    text-align: center;
    flex-direction: column;
}

.parts img {
    max-height: 400px;
    filter: drop-shadow(0 0 15px rgb(25, 0, 82));
}

#contact {
    background: linear-gradient(to right, #a8edea, #fed6e3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    text-align: center;
}

#contact p {
    margin-top: -30px;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 0, 183, 0.0);
}
